body{margin-top:20px;}
.fa-fw {width: 2em;}
.indicators {height: 30px; background-color: #94d600; width: 100%;}
.indicators_fixed{position: fixed;  bottom: 0px; }
.indicators_fixed #indicators_fixed_progress{width:0%; height: 100%;background-color: #428bca;}
.indicators_plase_mini > a{color: #99ca3c; font-weight: 900; }
#count_errors{display: block;    float: right;    text-align: center;    color: #fff;    border-radius: 10px;    padding: 2px;    background: rgba(214, 26, 26, 0.75);}
#parsing_progress_list [class*="col-"] {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: rgba(86,61,124,.15);
    border: 1px solid rgba(86,61,124,.2);
}
.progress{    margin-bottom: 0px;}
.progress-bar.active, .progress.active .progress-bar{animation: reverse progress-bar-stripes 2s linear infinite, animate-positive 2s;}
